@import "tailwindcss";

/* Dark mode variant */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Light mode colors */
    --color-primary: #4f39f6;
    --color-primary-hover: #681bfb;
    --color-secondary: #7c3aed;
    --color-accent: #06b6d4;
    --color-muted: #e5e7eb;
    --color-default: #1f2937;
    --color-default-muted: #27282b;
    --color-bg: #ffffff;
    --color-card: #f9fafb;
    --color-surface-light: #f3f4f6;

    /* Dark mode colors */
    --color-dark-primary: #818cf8;
    --color-dark-primary-hover: #3f42d3;
    --color-dark-secondary: #a78bfa;
    --color-dark-accent: #22d3ee;
    --color-dark-muted: #374151;
    --color-dark-default: #f3f4f6;
    --color-dark-default-muted: #9ca3af;
    --color-dark-bg: #111827;
    --color-dark-card: #1f2937;
    --color-dark-surface-light: #1e293b;

    /* Shadows */
    --shadow-card: 0 4px 6px -1px rgba(99, 102, 241, 0.1),
        0 2px 4px -2px rgba(99, 102, 241, 0.06);
}

@layer components {
    .card-heading {
        @apply text-lg font-semibold text-default dark:text-dark-default;
    }

    .card-subtext {
        @apply text-sm text-default-muted dark:text-dark-default-muted;
    }

    .container {
        @apply mx-auto px-4 sm:px-6 lg:px-8;
    }
}
